{% extends "::base.html.twig" %}

{% block body %}
<h3>Connectez-vous avec votre prénom en minuscule</h3>
Mot de passe : yo<br />
<a href="{{ url('wf3_ticket_main') }}" class="btn btn-success">Connexion</a>
{% endblock %}